In [1]:
## Organising the Imports 
import os 
import re 
import subprocess
import numpy as np
import pandas as pd
import collections
import logging
import statistics 
import math

In [2]:
basePath= os.path.dirname(os.getcwd())
filePath=basePath+"/Task_SC/book_scrambled.txt"
print(filePath)

/Users/pbishwal/Documents/Techie/others/Task_SC/book_scrambled.txt

In [3]:
cmd="""grep -n \"Chapter [0-9]\" """ + filePath
op=subprocess.check_output(cmd,shell=True)
newop=op.decode("utf-8").split("\r\n")
## the last 1 elements are removed as the decode above produces '' 
lineNumbersList=newop[: len(newop) - 1]

In [4]:
lineNumbersDict = {int(k.split(":")[0]) : k.split(":")[1] for k in lineNumbersList }
first2pairs = {k: lineNumbersDict[k] for k in list(lineNumbersDict)[:2]}

first2pairs    ## showing 1st 2 elements of dictionary

{118: 'Chapter 961', 313: 'Chapter 2809'}

In [5]:
## get the lineNumbers that Contains Chapter XXXX 
lineNumbers = list(lineNumbersDict.keys())
lineNumbers.sort()

In [6]:
## function to get list of prime numbers between 2 to 200, 
## assumption that max prime number squared present between 2-200

def getPrimeNumbers():
    start = 2 
    end = 200
    primeList=[]
    for val in range(start, end + 1): 
        # If num is divisible by any number   
        # between 2 and val, it is not prime  
        if val > 1: 
            for n in range(2, val): 
                if (val % n) == 0: 
                    break
            else: 
                primeList.append(val)
    return primeList

In [7]:
primeList=getPrimeNumbers()

In [8]:
np.cbrt(148877),np.sqrt(961)

(53.0, 31.0)

In [9]:
filePath1=basePath+"/Task_SC/book_small.txt"

In [10]:
with open (filePath, "r") as myfile:
    data = myfile.read().splitlines()

In [11]:
## maps chapter number to its Square root and sorts it
chapterNrToSq={j.split(" ")[1] : np.sqrt(int(j.split(" ")[1])) for j in list(lineNumbersDict.values()) }
chapterNrToSqSorted=sorted(chapterNrToSq.items(), key=lambda kv: kv[1])

In [12]:
## enumerates chapter number and square root to pth prime number
## for e.g chapter 4 ,its square root is 2 and it(2) corresponds to 1st prime number 
## It produces (chapter number , square root) as key and pth prime number as value 
## ie pth prime number is the original chapter number 
chapterToPrimeMap={i:chapterNrToSqSorted.index(i)+1 for i in chapterNrToSqSorted}

In [15]:
{k: chapterToPrimeMap[k] for k in list(chapterToPrimeMap)[:3]}

{('4', 2.0): 1, ('9', 3.0): 2, ('25', 5.0): 3}

In [14]:
chapterToPrime={primeList.index(i)+1:(i**2 , i**3) for i in primeList}

In [16]:
data=[]
with open (filePath, "r") as myfile:
    data = myfile.read().splitlines()
    data=list(filter(None, data))

In [17]:
chapterIndexes=[i for i, item in enumerate(data) if re.search('Chapter', item)]

In [18]:
chapterIndexes[0:4]

[53, 197, 261, 403]

In [151]:
## get the Part Indexes 
## part indexes can't be found directly as it has multiple occurences 
## Idea: Get the Chapter Indexes and  PART Lies above it (-1 position of chapter)
## GET the partTempIndex where PART occures  and get justBeforePart (-1 from chapter Index) and do an intersection
partTempIndex=[i for i, item in enumerate(data) if re.search('PART', item)]
justBeforePart=[i-1 for i in chapterIndexes]
partIndexes=[value for value in justBeforePart if value in partTempIndex]

In [153]:
partIndexes[0:10]

[52, 4629, 9998, 13958, 18239, 27804, 27911, 28997, 30336, 37287]

In [19]:
lastIndexOfData = len(data)
import collections
dt = collections.defaultdict(list)
for i in range(len(chapterIndexes)):
    if(i+1<len(chapterIndexes)):
        dt[data[chapterIndexes[i]]].append(data[chapterIndexes[i]+1:chapterIndexes[i+1]] )
    else:
        dt[data[chapterIndexes[i]]].append(data[chapterIndexes[i]+1:lastIndexOfData] )
allDict=dict(dt)

In [21]:

for key in allDict:
    print("key : ",key, " Number of elements: ",len(allDict[key]))

key :  Chapter 961  Number of elements:  36
key :  Chapter 2809  Number of elements:  36
key :  Chapter 6889  Number of elements:  35
key :  Chapter 10609  Number of elements:  30
key :  Chapter 9  Number of elements:  36
key :  Chapter 6241  Number of elements:  35
key :  Chapter 49  Number of elements:  36
key :  Chapter 16129  Number of elements:  30
key :  Chapter 11449  Number of elements:  30
key :  Chapter 289  Number of elements:  36
key :  Chapter 25  Number of elements:  36
key :  Chapter 1369  Number of elements:  36
key :  Chapter 361  Number of elements:  36
key :  Chapter 18769  Number of elements:  19
key :  Chapter 169  Number of elements:  36
key :  Chapter 12769  Number of elements:  30
key :  Chapter 3481  Number of elements:  36
key :  Chapter 11881  Number of elements:  30
key :  Chapter 7921  Number of elements:  30
key :  Chapter 841  Number of elements:  36
key :  Chapter 1681  Number of elements:  36
key :  Chapter 5041  Number of elements:  35
key :  Chapter 17161  Number of elements:  28
key :  Chapter 10201  Number of elements:  30
key :  Chapter 4489  Number of elements:  36
key :  Chapter 19321  Number of elements:  15
key :  Chapter 2209  Number of elements:  36
key :  Chapter 529  Number of elements:  36
key :  Chapter 5329  Number of elements:  35
key :  Chapter 9409  Number of elements:  30
key :  Chapter 3721  Number of elements:  36
key :  Chapter 1849  Number of elements:  36
key :  Chapter 4  Number of elements:  36
key :  Chapter 121  Number of elements:  36
key :  Chapter 22201  Number of elements:  7

In [22]:
len(allDict.keys())

35

In [23]:
r=allDict.get('Chapter 2809')[23]
r
s=[re.sub("\d+", " ", words) for words in r]
s
p=', '.join(s).replace('foo',",")

In [75]:
## function to unscramble the text and replace nth square/cube with space and foo by commas
import collections
import logging
newdt = collections.defaultdict(list)
for i,item in enumerate(allDict):
    numElementsInKey=allDict[item]
    logging.info('Processing for key :',item,' having ',numElementsInKey)
    for j in range(len(numElementsInKey)):      
        r=allDict.get(item)[j]
        s=[re.sub("\d+", " ", words) for words in r]
        p=[', '.join(s).replace('foo',",")]
        newdt[item].append(p)
        
allNewDict=dict(newdt)

In [25]:
type(allNewDict)

dict

In [26]:
for key in allNewDict:
    print("key : ",key, " Number of elements: ",len(allNewDict[key]))

key :  Chapter 961  Number of elements:  36
key :  Chapter 2809  Number of elements:  36
key :  Chapter 6889  Number of elements:  35
key :  Chapter 10609  Number of elements:  30
key :  Chapter 9  Number of elements:  36
key :  Chapter 6241  Number of elements:  35
key :  Chapter 49  Number of elements:  36
key :  Chapter 16129  Number of elements:  30
key :  Chapter 11449  Number of elements:  30
key :  Chapter 289  Number of elements:  36
key :  Chapter 25  Number of elements:  36
key :  Chapter 1369  Number of elements:  36
key :  Chapter 361  Number of elements:  36
key :  Chapter 18769  Number of elements:  19
key :  Chapter 169  Number of elements:  36
key :  Chapter 12769  Number of elements:  30
key :  Chapter 3481  Number of elements:  36
key :  Chapter 11881  Number of elements:  30
key :  Chapter 7921  Number of elements:  30
key :  Chapter 841  Number of elements:  36
key :  Chapter 1681  Number of elements:  36
key :  Chapter 5041  Number of elements:  35
key :  Chapter 17161  Number of elements:  28
key :  Chapter 10201  Number of elements:  30
key :  Chapter 4489  Number of elements:  36
key :  Chapter 19321  Number of elements:  15
key :  Chapter 2209  Number of elements:  36
key :  Chapter 529  Number of elements:  36
key :  Chapter 5329  Number of elements:  35
key :  Chapter 9409  Number of elements:  30
key :  Chapter 3721  Number of elements:  36
key :  Chapter 1849  Number of elements:  36
key :  Chapter 4  Number of elements:  36
key :  Chapter 121  Number of elements:  36
key :  Chapter 22201  Number of elements:  7

In [27]:
for i in allNewDict['Chapter 22201'][0]:
    w=i.split('.')

In [76]:
import collections
import logging
wordsSentencesForKey = collections.defaultdict(list)

for i,item in enumerate(allNewDict):
    numElementsInKey=allNewDict[item]
    #print('Processing for key :',item,' having ',len(numElementsInKey))
    for j in range(len(numElementsInKey)): 
        #print(item," ",j)
        for k in allNewDict.get(item)[j]:
            w=k.split(".")
            totalSentences=len(w)
            wordsInSentences=[len(set(w[l].split(" "))) for l in range(len(w)) ]
            result={"total_Sentences":totalSentences,"unique_words":sum(wordsInSentences),"longest_sentence":max(wordsInSentences),
                                   "average_word":math.ceil(statistics.mean(wordsInSentences))}
            wordsSentencesForKey[item].append(result)

wordsSentencesDict=dict(wordsSentencesForKey)

In [78]:
wordsSentencesDict['Chapter 961']

[{'total_Sentences': 120,
  'unique_words': 1512,
  'longest_sentence': 50,
  'average_word': 13},
 {'total_Sentences': 45,
  'unique_words': 709,
  'longest_sentence': 38,
  'average_word': 16},
 {'total_Sentences': 120,
  'unique_words': 1512,
  'longest_sentence': 50,
  'average_word': 13},
 {'total_Sentences': 46,
  'unique_words': 1052,
  'longest_sentence': 52,
  'average_word': 23},
 {'total_Sentences': 45,
  'unique_words': 709,
  'longest_sentence': 38,
  'average_word': 16},
 {'total_Sentences': 120,
  'unique_words': 1512,
  'longest_sentence': 50,
  'average_word': 13},
 {'total_Sentences': 46,
  'unique_words': 1052,
  'longest_sentence': 52,
  'average_word': 23},
 {'total_Sentences': 120,
  'unique_words': 1512,
  'longest_sentence': 50,
  'average_word': 13},
 {'total_Sentences': 45,
  'unique_words': 709,
  'longest_sentence': 38,
  'average_word': 16},
 {'total_Sentences': 34,
  'unique_words': 623,
  'longest_sentence': 49,
  'average_word': 19},
 {'total_Sentences': 45,
  'unique_words': 709,
  'longest_sentence': 38,
  'average_word': 16},
 {'total_Sentences': 34,
  'unique_words': 623,
  'longest_sentence': 49,
  'average_word': 19},
 {'total_Sentences': 91,
  'unique_words': 1792,
  'longest_sentence': 63,
  'average_word': 20},
 {'total_Sentences': 120,
  'unique_words': 1512,
  'longest_sentence': 50,
  'average_word': 13},
 {'total_Sentences': 46,
  'unique_words': 1052,
  'longest_sentence': 52,
  'average_word': 23},
 {'total_Sentences': 46,
  'unique_words': 1052,
  'longest_sentence': 52,
  'average_word': 23},
 {'total_Sentences': 91,
  'unique_words': 1792,
  'longest_sentence': 63,
  'average_word': 20},
 {'total_Sentences': 150,
  'unique_words': 2314,
  'longest_sentence': 68,
  'average_word': 16},
 {'total_Sentences': 45,
  'unique_words': 709,
  'longest_sentence': 38,
  'average_word': 16},
 {'total_Sentences': 34,
  'unique_words': 623,
  'longest_sentence': 49,
  'average_word': 19},
 {'total_Sentences': 124,
  'unique_words': 1627,
  'longest_sentence': 50,
  'average_word': 14},
 {'total_Sentences': 65,
  'unique_words': 1000,
  'longest_sentence': 39,
  'average_word': 16},
 {'total_Sentences': 45,
  'unique_words': 709,
  'longest_sentence': 38,
  'average_word': 16},
 {'total_Sentences': 46,
  'unique_words': 1052,
  'longest_sentence': 52,
  'average_word': 23},
 {'total_Sentences': 91,
  'unique_words': 1792,
  'longest_sentence': 63,
  'average_word': 20},
 {'total_Sentences': 150,
  'unique_words': 2314,
  'longest_sentence': 68,
  'average_word': 16},
 {'total_Sentences': 120,
  'unique_words': 1512,
  'longest_sentence': 50,
  'average_word': 13},
 {'total_Sentences': 34,
  'unique_words': 623,
  'longest_sentence': 49,
  'average_word': 19},
 {'total_Sentences': 120,
  'unique_words': 1512,
  'longest_sentence': 50,
  'average_word': 13},
 {'total_Sentences': 46,
  'unique_words': 1052,
  'longest_sentence': 52,
  'average_word': 23},
 {'total_Sentences': 65,
  'unique_words': 1000,
  'longest_sentence': 39,
  'average_word': 16},
 {'total_Sentences': 47,
  'unique_words': 1029,
  'longest_sentence': 72,
  'average_word': 22},
 {'total_Sentences': 45,
  'unique_words': 709,
  'longest_sentence': 38,
  'average_word': 16},
 {'total_Sentences': 34,
  'unique_words': 623,
  'longest_sentence': 49,
  'average_word': 19},
 {'total_Sentences': 91,
  'unique_words': 1792,
  'longest_sentence': 63,
  'average_word': 20},
 {'total_Sentences': 150,
  'unique_words': 2314,
  'longest_sentence': 68,
  'average_word': 16}]

In [252]:
column_list=['average_word','longest_sentence','total_Sentences','unique_words']
finalDF=pd.DataFrame(columns=['Original Chapter','average_word','longest_sentence','total_Sentences','unique_words'])
for i,item in enumerate(wordsSentencesDict):
    tempDF =pd.DataFrame( wordsSentencesDict[item]).apply(pd.to_numeric)
    val=math.ceil(np.sqrt(int(item.split("Chapter ")[1])))
    ## mapped chapter numbers to the original chapter
    tempDF.insert(0,'Original Chapter',val)
    finalDF=pd.concat([finalDF, tempDF]).drop_duplicates()
    ## drop_duplicates is used to drop the duplicates as same chapter is present in other Parts , else can be retained 
finalDF[column_list] = finalDF[column_list].apply(pd.to_numeric, errors='coerce')

In [249]:
finalDF.dtypes

Chapter Number      float64
average_word          int64
longest_sentence      int64
total_Sentences       int64
unique_words          int64
dtype: object

In [253]:
finalDF.head(20)

,Original Chapter,average_word,longest_sentence,total_Sentences,unique_words
0,31,13,50,120,1512
1,31,16,38,45,709
3,31,23,52,46,1052
9,31,19,49,34,623
12,31,20,63,91,1792
17,31,16,68,150,2314
20,31,14,50,124,1627
21,31,16,39,65,1000
31,31,22,72,47,1029
0,53,18,74,38,677
1,53,15,44,114,1619
3,53,15,53,90,1314
9,53,14,48,91,1264
12,53,13,58,90,1139
16,53,20,66,95,1809
26,53,18,62,53,922
29,53,19,83,63,1173
0,83,21,54,74,1520
2,83,14,59,78,1036
3,83,18,62,77,1355

In [221]:
finalDF.groupby(['Chapter Number']).agg({'average_word':'mean', 'total_Sentences':'sum','longest_sentence':'max','unique_words':'mean'})

                average_word  total_Sentences  longest_sentence  unique_words
Chapter Number
Chapter 10201      22.166667              402                77   1432.333333
Chapter 10609      17.166667              463                66   1241.333333
Chapter 11449      17.000000              528                85   1408.000000
Chapter 11881      19.000000              508                65   1438.000000
Chapter 121        18.222222              792                98   1584.444444
Chapter 12769      19.000000              434                87   1272.333333
Chapter 1369       18.875000              580                65   1301.000000
Chapter 16129      18.428571              547                67   1389.142857
Chapter 1681       18.375000              627                92   1353.000000
Chapter 169        18.625000              550               117   1147.500000
Chapter 17161      15.571429              588                64   1229.285714
Chapter 1849       19.375000              735                93   1679.500000
Chapter 18769      18.750000              492                55   2016.750000
Chapter 19321      15.666667              326                65   1666.666667
Chapter 2209       15.500000              873               131   1315.600000
Chapter 22201      13.000000              278                58   1789.000000
Chapter 25         16.888889              914                78   1537.000000
Chapter 2809       16.500000              634                83   1239.625000
Chapter 289        19.375000              650                93   1394.750000
Chapter 3481       16.875000              815                82   1596.750000
Chapter 361        20.125000              534                62   1219.375000
Chapter 3721       16.875000              699                65   1284.500000
Chapter 4          21.500000              502                71   1261.500000
Chapter 4489       17.250000              954                87   1794.000000
Chapter 49         17.750000              653                88   1396.375000
Chapter 5041       16.571429              649                64   1464.000000
Chapter 529        19.222222              764                84   1511.333333
Chapter 5329       16.571429              748                66   1575.428571
Chapter 6241       17.428571              731                74   1738.857143
Chapter 6889       17.750000              627                63   1261.250000
Chapter 7921       18.666667              567                72   1579.166667
Chapter 841        17.625000              749                83   1388.875000
Chapter 9          15.125000              782               111   1373.875000
Chapter 9409       18.142857              663                73   1519.714286
Chapter 961        17.666667              722                72   1295.333333

In [ ]:
######################## Below Code contains for Statistics by PART ##################

In [163]:
################################################3
lastIndexOfData = len(data)
import collections
dt1 = collections.defaultdict(list)
for i in range(len(partIndexes)):
    if(i+1<len(partIndexes)):
        dt1[data[partIndexes[i]]].append(data[partIndexes[i]+1:partIndexes[i+1]] )
    else:
        dt1[data[partIndexes[i]]].append(data[partIndexes[i]+1:lastIndexOfData] )
allDict1=dict(dt1)

In [164]:
##########################################
for key in allDict1:
    print("key : ",key, " Number of elements: ",len(allDict1[key]))

key :  PART ONE  Number of elements:  8
key :  PART TWO  Number of elements:  7
key :  PART THREE  Number of elements:  6
key :  PART FOUR  Number of elements:  5
key :  PART FIVE  Number of elements:  4
key :  PART SIX  Number of elements:  3
key :  PART SEVEN  Number of elements:  2
key :  PART EIGHT  Number of elements:  1

In [171]:
########################################

## function to unscramble the text and replace nth square/cube with space and foo by commas
import collections
import logging
newdt1 = collections.defaultdict(list)
dt2 = collections.defaultdict(list)


for i,item in enumerate(allDict1):
    numElementsInKey=allDict1[item]
    logging.info('Processing for key :',item,' having ',numElementsInKey)
    for j in range(len(numElementsInKey)):
        r=allDict1.get(item)[j]
        s=[re.sub("\d+", " ", words) for words in r]
        p=[', '.join(s).replace('foo',",")]
        newdt1[item].append(p)

                      
allNewDict_2=dict(newdt1)

In [172]:
for key in allNewDict_2:
    print("key : ",key, " Number of elements: ",len(allNewDict_2[key]))

key :  PART ONE  Number of elements:  8
key :  PART TWO  Number of elements:  7
key :  PART THREE  Number of elements:  6
key :  PART FOUR  Number of elements:  5
key :  PART FIVE  Number of elements:  4
key :  PART SIX  Number of elements:  3
key :  PART SEVEN  Number of elements:  2
key :  PART EIGHT  Number of elements:  1

In [179]:
###########################

import collections
import logging
wordsSentencesForKey1 = collections.defaultdict(list)

for i,item in enumerate(allNewDict_2):
    numElementsInKey=allNewDict_2[item]
    #print('Processing for key :',item,' having ',len(numElementsInKey))
    for j in range(len(numElementsInKey)): 
        #print(item," ",j)
        for k in allNewDict_2.get(item)[j]:
            w=k.split(".")
            totalSentences=len(w)
            wordsInSentences=[len(set(w[l].split(" "))) for l in range(len(w)) ]
            result={"total_Sentences":totalSentences,"unique_words":sum(wordsInSentences),"longest_sentence":max(wordsInSentences),
                                   "average_word":math.ceil(statistics.mean(wordsInSentences))}
            wordsSentencesForKey1[item].append(result)

wordsSentencesDict1=dict(wordsSentencesForKey1)

In [255]:
finalDF1=pd.DataFrame(columns=['Part Number','average_word','longest_sentence','total_Sentences','unique_words'])
for i,item in enumerate(wordsSentencesDict1):
    tempDF =pd.DataFrame( wordsSentencesDict1[item])
    tempDF.insert(0,'Part Number',item)
    finalDF1=pd.concat([finalDF1, tempDF]).drop_duplicates()
    ## drop_duplicates is used to drop the duplicates as same chapter is present in other Parts , else can be retained 

finalDF1[column_list] = finalDF1[column_list].apply(pd.to_numeric, errors='coerce')
finalDF1

  Part Number  average_word  longest_sentence  total_Sentences  unique_words
0    PART ONE            16               117             3009         47548
1    PART ONE            17               117             3464         56235
2    PART ONE            18                93             2569         44425
3    PART ONE            17                85              695         11143
4    PART ONE            18                93             1411         24715
5    PART ONE            17               117             2347         39795
6    PART ONE            16                85             1437         22824
7    PART ONE            17                87             2595         42338
0    PART TWO            17                87             2528         40994
1    PART TWO            15                50               65           963
2    PART TWO            17                93             4453         72753
3    PART TWO            18               131             3721         64700
4    PART TWO            17                85             2399         40615
5    PART TWO            18               117             3862         67599
6    PART TWO            16               117             1511         23173
0  PART THREE            17               117             6000        100723
1  PART THREE            18                66              809         14342
2  PART THREE            18                85             1879         32364
3  PART THREE            18               131              786         13909
4  PART THREE            16                62               71          1098
5  PART THREE            18                74             2486         43374
0   PART FOUR            17               117             4858         81445
1   PART FOUR            17               111             6221        102834
2   PART FOUR            17               111             4087         66243
3   PART FOUR            16                73              851         13335
4   PART FOUR            17                88              971         16209
0   PART FIVE            15                53              104          1514
1   PART FIVE            18                77             1891         32964
2   PART FIVE            17                76             3386         56799
3   PART FIVE            16                83              811         12889
0    PART SIX            17                88             4963         81288
1    PART SIX            17               131             8642        142398
2    PART SIX            16                87             1797         27673
0  PART SEVEN            16                87              727         10983
1  PART SEVEN            18               131             9200        158402
0  PART EIGHT            16                63              807         12818