In [1]:
import graphlab

In [2]:
import pandas as pd
import numpy as np

In [27]:
#Lets us graphlab functions and pandas/numpy functions in this module read df
sales_gl =graphlab.SFrame('kc_house_data.gl/')

In [4]:
sales_pd = pd.read_csv('kc_house_data.csv')

In [5]:
sales_pd.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [29]:
sales_gl.head(2)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 2

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 | 221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 | 538000.0 |   3.0    |    2.25   |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
+---------------+---------------+-----+
[2 rows x 21 columns]

In [7]:
train_data_gl,test_data_gl=sales_gl.random_split(.8,seed=0)

In [10]:
#For those students not using SFrames please download the training and testing data csv files.


train_data_pd,test_data_pd =pd.read_csv('kc_house_train_data.csv'),pd.read_csv('kc_house_test_data.csv')

In [36]:
#From now on we will train the models using train_data. It will be important that we use the same split here to ensure the results are the same.
train_data_gl.head(2)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float
	bedrooms_squared	float
	bed_bath_rooms	float
	log_sqft_living	float
	lat_plus_long	float

Rows: 2

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 7129300520 | 2014-10-13 00:00:00+00:00 | 221900.0 |   3.0    |    1.0    |
| 6414100192 | 2014-12-09 00:00:00+00:00 | 538000.0 |   3.0    |    2.25   |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1180.0   |   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |
|    2570.0   |   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1955   |      0       |  98178  | 47.51123398 |
|      400      |   1951   |     1991     |  98125  | 47.72102274 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.25677536 |     1340.0    | ... |
|  -122.3188624 |     1690.0    | ... |
+---------------+---------------+-----+
[2 rows x 25 columns]

In [33]:
#Add 4 new variables in both your train_data and test_data.
import math
train_data_gl['bedrooms_squared']=train_data_gl['bedrooms']*train_data_gl['bedrooms']
train_data_gl['bed_bath_rooms']=train_data_gl['bedrooms']*train_data_gl['bathrooms']
train_data_gl['log_sqft_living']=train_data_gl['sqft_living'].apply(lambda x:math.log(x))
train_data_gl['lat_plus_long'] = train_data_gl['lat'] + train_data_gl['long']

In [40]:
test_data_gl['bedrooms_squared']=test_data_gl['bedrooms']*test_data_gl['bedrooms']
test_data_gl['bed_bath_rooms']=test_data_gl['bedrooms']*test_data_gl['bathrooms']
test_data_gl['log_sqft_living']=test_data_gl['sqft_living'].apply(lambda x:math.log(x))
test_data_gl['lat_plus_long'] = test_data_gl['lat'] + test_data_gl['long']

In [41]:
test_data_gl.head(2)

Columns:
	id	str
	date	datetime
	price	float
	bedrooms	float
	bathrooms	float
	sqft_living	float
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float
	bedrooms_squared	float
	bed_bath_rooms	float
	log_sqft_living	float
	lat_plus_long	float

Rows: 2

Data:
+------------+---------------------------+----------+----------+-----------+
|     id     |            date           |  price   | bedrooms | bathrooms |
+------------+---------------------------+----------+----------+-----------+
| 0114101516 | 2014-05-28 00:00:00+00:00 | 310000.0 |   3.0    |    1.0    |
| 9297300055 | 2015-01-24 00:00:00+00:00 | 650000.0 |   4.0    |    3.0    |
+------------+---------------------------+----------+----------+-----------+
+-------------+----------+--------+------------+------+-----------+-------+------------+
| sqft_living | sqft_lot | floors | waterfront | view | condition | grade | sqft_above |
+-------------+----------+--------+------------+------+-----------+-------+------------+
|    1430.0   |  19901   |  1.5   |     0      |  0   |     4     |   7   |    1430    |
|    2950.0   |   5000   |   2    |     0      |  3   |     3     |   9   |    1980    |
+-------------+----------+--------+------------+------+-----------+-------+------------+
+---------------+----------+--------------+---------+-------------+
| sqft_basement | yr_built | yr_renovated | zipcode |     lat     |
+---------------+----------+--------------+---------+-------------+
|       0       |   1927   |      0       |  98028  | 47.75584254 |
|      970      |   1979   |      0       |  98126  | 47.57136955 |
+---------------+----------+--------------+---------+-------------+
+---------------+---------------+-----+
|      long     | sqft_living15 | ... |
+---------------+---------------+-----+
| -122.22874498 |     1780.0    | ... |
| -122.37541218 |     2140.0    | ... |
+---------------+---------------+-----+
[2 rows x 25 columns]

In [ ]:
'''
Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and 
lots of bedrooms (e.g. 4) since 1^2 = 1 but 4^2 = 16. Consequently this variable will mostly affect houses with many bedrooms.
Bedrooms times bathrooms is what's called an "interaction" variable. It is large when both of them are large.
Taking the log of square feet has the effect of bringing large values closer together and spreading out small values.
Adding latitude to longitude is non-sensical but we will do it anyway (you'll see why)

'''

In [35]:
train_data_pd.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

In [42]:
#For those students not using SFrames you should first download and import the training and testing data sets
#provided and then add the four new variables each to both data sets (training and testing)

train_data_pd['bedrooms_squared']=train_data_pd['bedrooms']*train_data_pd['bedrooms']
train_data_pd['bed_bath_rooms']=train_data_pd['bedrooms']*train_data_pd['bathrooms']
train_data_pd['log_sqft_living']=train_data_pd['sqft_living'].apply(lambda x:math.log(x))
train_data_pd['lat_plus_long'] = train_data_pd['lat'] + train_data_pd['long']

In [43]:
train_data_pd.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,0,98178,47.5112,-122.257,1340,5650,9,3.00,7.073270,-74.7458
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,1991,98125,47.7210,-122.319,1690,7639,9,6.75,7.851661,-74.5980

In [44]:
test_data_pd['bedrooms_squared']=test_data_pd['bedrooms']*test_data_pd['bedrooms']
test_data_pd['bed_bath_rooms']=test_data_pd['bedrooms']*test_data_pd['bathrooms']
test_data_pd['log_sqft_living']=test_data_pd['sqft_living'].apply(lambda x:math.log(x))
test_data_pd['lat_plus_long'] = test_data_pd['lat'] + test_data_pd['long']

In [45]:
test_data_pd.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,bedrooms_squared,bed_bath_rooms,log_sqft_living,lat_plus_long
0,114101516,20140528T000000,310000.0,3,1.0,1430,19901,1.5,0,0,...,0,98028,47.7558,-122.229,1780,12697,9,3.0,7.26543,-74.4732
1,9297300055,20150124T000000,650000.0,4,3.0,2950,5000,2.0,0,3,...,0,98126,47.5714,-122.375,2140,4000,16,12.0,7.98956,-74.8036

In [47]:
#Quiz Question: what are the mean (arithmetic average) values of your 4 new variables on TEST data? (round to 2 digits)

bedrooms_squared_mean_gl= test_data_gl['bedrooms_squared'].mean()
bed_bath_rooms_mean_gl = test_data_gl['bed_bath_rooms'].mean()
log_sqft_living_mean_gl= test_data_gl['log_sqft_living'].mean()
lat_plus_long_mean_gl = test_data_gl['lat_plus_long'].mean()

In [48]:
bedrooms_squared_mean_gl,bed_bath_rooms_mean_gl,log_sqft_living_mean_gl,lat_plus_long_mean_gl

(12.44667770158429, 7.503901631591395, 7.55027467964594, -74.65333497217306)

In [49]:
bedrooms_squared_mean_pd= test_data_pd['bedrooms_squared'].mean()
bed_bath_rooms_mean_pd = test_data_pd['bed_bath_rooms'].mean()
log_sqft_living_mean_pd= test_data_pd['log_sqft_living'].mean()
lat_plus_long_mean_pd = test_data_pd['lat_plus_long'].mean()

In [50]:
bedrooms_squared_mean_pd,bed_bath_rooms_mean_pd,log_sqft_living_mean_pd,lat_plus_long_mean_pd

(12.4466777015843, 7.5039016315913925, 7.550274679645921, -74.65333355403185)

In [ ]:
'''
Use graphlab.linear_regression.create (or any other regression library/function) to estimate the regression coefficients/weights for predicting 
‘price’ for the following three models:(In all 3 models include an intercept -- most software does this by default).

Model 1: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’, and ‘long’
Model 2: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, and ‘bed_bath_rooms’
Model 3: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, ‘bed_bath_rooms’, ‘bedrooms_squared’, ‘log_sqft_living’, and ‘lat_plus_long’
'''

In [51]:
features_model_1=['sqft_living','bedrooms','bathrooms','lat','long']
train_data_gl_model_1=graphlab.linear_regression.create(train_data_gl,target='price',
                                                        features=features_model_1,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 5

Number of unpacked features : 5

Number of coefficients    : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.042238     | 4074878.213096     | 236378.596455 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [52]:
features_model_2=['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms']
train_data_gl_model_2=graphlab.linear_regression.create(train_data_gl,target='price',
                                                        features=features_model_2,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 7

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.043471     | 4014170.932927     | 235190.935428 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [54]:
features_model_3=['sqft_living','bedrooms','bathrooms','lat','long','bed_bath_rooms','bedrooms_squared',
                 'log_sqft_living','lat_plus_long']
train_data_gl_model_3=graphlab.linear_regression.create(train_data_gl,target='price',
                                                        features=features_model_3,validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 9

Number of unpacked features : 9

Number of coefficients    : 10

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.050331     | 3193229.177894     | 228200.043155 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [58]:
#What is the sign (positive or negative) for the coefficient/weight for ‘bathrooms’ in Model 1?

train_data_gl_model_1['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 6

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -56140675.7444 | 1649985.42028 |
| sqft_living |  None | 310.263325778  | 3.18882960408 |
|   bedrooms  |  None | -59577.1160682 | 2487.27977322 |
|  bathrooms  |  None | 13811.8405418  | 3593.54213297 |
|     lat     |  None | 629865.789485  | 13120.7100323 |
|     long    |  None | -214790.285186 | 13284.2851607 |
+-------------+-------+----------------+---------------+
[6 rows x 4 columns]

In [59]:
#What is the sign (positive or negative) for the coefficient/weight for ‘bathrooms’ in Model 2?

train_data_gl_model_2['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+----------------+-------+----------------+---------------+
|      name      | index |     value      |     stderr    |
+----------------+-------+----------------+---------------+
|  (intercept)   |  None | -54410676.1152 | 1650405.16541 |
|  sqft_living   |  None | 304.449298057  | 3.20217535637 |
|    bedrooms    |  None | -116366.043231 | 4805.54966546 |
|   bathrooms    |  None | -77972.3305135 | 7565.05991091 |
|      lat       |  None | 625433.834953  | 13058.3530972 |
|      long      |  None | -203958.60296  | 13268.1283711 |
| bed_bath_rooms |  None | 26961.6249092  | 1956.36561555 |
+----------------+-------+----------------+---------------+
[7 rows x 4 columns]

In [60]:
# this is same as above 
train_data_gl_model_2.get('coefficients')

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 7

Data:
+----------------+-------+----------------+---------------+
|      name      | index |     value      |     stderr    |
+----------------+-------+----------------+---------------+
|  (intercept)   |  None | -54410676.1152 | 1650405.16541 |
|  sqft_living   |  None | 304.449298057  | 3.20217535637 |
|    bedrooms    |  None | -116366.043231 | 4805.54966546 |
|   bathrooms    |  None | -77972.3305135 | 7565.05991091 |
|      lat       |  None | 625433.834953  | 13058.3530972 |
|      long      |  None | -203958.60296  | 13268.1283711 |
| bed_bath_rooms |  None | 26961.6249092  | 1956.36561555 |
+----------------+-------+----------------+---------------+
[7 rows x 4 columns]

In [ ]:
# 8. Is the sign for the coefficient the same in both models? Think about why this might be the case.

In [65]:
train_data_gl_model_1.show()
#Residual sum of squares	971328233543667.2

Canvas is updated and available in a tab in the default browser.

In [68]:
train_data_gl_model_2.show()
#Residual sum of squares	961592067855751.5

Canvas is accessible via web browser at the URL: http://localhost:52589/index.html
Opening Canvas in default web browser.

In [69]:
train_data_gl_model_3.show()
#Residual sum of squares	905276314555407.1

Canvas is accessible via web browser at the URL: http://localhost:52589/index.html
Opening Canvas in default web browser.

In [76]:
def sqr(n):
    return n**2

In [74]:
#Now using your three estimated models compute the RSS (Residual Sum of Squares) on the Training data.

def get_residual_sum_of_squares(models, data, outcome):
    # First get the predictions
    predictions =models.predict(data)
    
    # Then compute the residuals/errors
    residuals = predictions-outcome
    
    # Then square and add them up
    final= sqr(residuals)
    return(final.sum())

In [77]:
#Now using your three estimated models compute the RSS (Residual Sum of Squares) on the Training data.

rss_train_data_1 = get_residual_sum_of_squares(train_data_gl_model_1, train_data_gl, train_data_gl['price'])

In [78]:
rss_train_data_1
#971328233543667

971328233543667.1

In [80]:
rss_train_data_2 = get_residual_sum_of_squares(train_data_gl_model_2, train_data_gl, train_data_gl['price'])

In [81]:
rss_train_data_3 = get_residual_sum_of_squares(train_data_gl_model_3, train_data_gl, train_data_gl['price'])

In [82]:
rss_train_data_1,rss_train_data_2,rss_train_data_3

(971328233543667.1, 961592067855751.0, 905276314555406.0)

In [105]:
rss_test_data_1 = get_residual_sum_of_squares(train_data_gl_model_1, test_data_gl, test_data_gl['price'])

In [104]:
rss_test_data_2 = get_residual_sum_of_squares(train_data_gl_model_2, test_data_gl, test_data_gl['price'])

In [103]:
rss_test_data_3 = get_residual_sum_of_squares(train_data_gl_model_3, test_data_gl, test_data_gl['price'])

In [106]:
rss_test_data_1,rss_test_data_2,rss_test_data_3

(226568089092795.38, 224368799993615.4, 251829318951767.94)